JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=rent-all
MYSQL_ROOT_PASSWORD=root_password_segura
MYSQL_USER=rent_all_user
MYSQL_PASSWORD=rent_all_password

# DATABASE_URL=mysql+pymysql://rent_all_user:rent_all_password@localhost:3306/rent-all
DATABASE_URL=mysql+pymysql://root@localhost:3306/rent-all